@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  width: 100%;
  position: relative;
}

.imageWrapper {
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  // padding-top: 56.25%;
  height: 100%;
}

.image {
  width: 100%;
  // height: 100%;
  top: 0;
  vertical-align: middle;
  display: block;
  // position: absolute;
  object-fit: cover;
  // opacity: 0; //
}

.colorWrapper {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 95%;
  top: 3%;
  left: 0;
}
.contentWrapper {
  max-width: 1160px;
  margin: 0 auto;
}
