@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  padding: 60px 20px;
  max-width: 1160px;
  margin: 0 auto;
  opacity: 0;
  img {
    width: 100%;
    height: auto;
  }
}

.textAbout {
  font-family: $ft-andale;
  font-size: 14px;
  display: block;
  padding-left: 75px;
  position: relative;
  margin-bottom: 20px;

  &:before {
    content: '';
    display: block;
    width: 70px;
    height: 1px;
    position: absolute;
    top: 10px;
    left: 0px;
    background: black;
  }

  @media (min-width: 560px) {
    margin-top: 40px;
  }
}

.heroWrapper {
  margin-bottom: 60px;
  position: relative;
  h1 {
    font-family: $ft-lust;
    font-size: 60px;
    // span {
    //   font-family: $ft-lust;
    //   font-size: 60px;
    //   display: inline-block;
    // }
  }

  .years {
    font-family: $ft-andale;
    font-size: 14px;
  }

  @media (min-width: 560px) {
    h1 {
      font-size: 20vw;
    }

    .years {
      position: absolute;
      right: 0;
      display: block;
      top: 0;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 220px;
    }
  }
}

.gridTop {
  margin-top: 60px;
  font-family: $ft-helvetica;
  font-size: 14px;
  span {
    margin-top: 40px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @media (min-width: 768px) {
    display: flex;
    div {
      width: 33.3%;
      display: block;
      img {
        width: 100%;
        height: auto;
        display: block;
      }

      div {
        display: block;
      }
    }
    .twoCols {
      display: flex;
      span {
        margin-top: 5px;
        display: block;
        width: 30%;
        padding-left: 20px;
      }
      div {
        display: block;
        width: 70%;
      }
    }
  }
}

.gridBottom {
  font: $ft-helvetica;
  font-size: 14px;
  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  a {
    text-decoration: underline;
  }
  @media (min-width: 768px) {
    display: flex;
    margin-top: 80px;
    .gridBottomColumn {
      // width: 20%;
      // align-self: f;
      // justify-content: center;
      margin: 0 auto 0 0;
      a {
        max-width: 150px;
        display: block;
      }

      // background-color: red;
      // align-content: center;
    }
    div {
      width: 17%;

      &:nth-child(2) {
        width: 32%;
        padding-right: 40px;
        div {
          width: 100%;
        }
      }
    }
  }
}

.gridBottomColumn {
  ul {
    li {
      margin-bottom: 5px;
      display: block;
    }
  }
  @media (min-width: 768px) {
    padding: 0 0px;
  }
}

.gridBottomColumnFlex {
  display: flex;
  flex-direction: row;

  ul {
    display: block;
    width: 70%;
    span {
      font-weight: bold;
      display: block;
    }

    &:nth-child(2) {
      width: 30%;
      text-align: right;
      font-weight: bold;
      font-size: 12px;
    }
    li {
      display: block;
      margin-bottom: 10px;
      height: 40px;
    }
  }
}

.bottomContent {
  margin-top: 60px;
  h5 {
    font-family: $ft-lust;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    width: 350px;
    span {
      display: block;
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 200px;
      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  a {
    display: block;
    width: 100px;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    position: relative;
    display: flex;
    h5 {
      width: 50%;
      font-size: 60px;
      span {
        width: 300px;
        right: 40px;
      }
    }
    p {
      width: 40%;
      // height: 100%;
      display: block;
      position: absolute;
      bottom: 40px;
      left: 60%;
      overflow: hidden;
    }
  }
}
