@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  position: absolute;
  bottom: 15vh;
  right: 15vw;
  z-index: 10;
  width: 200px;
  transform: rotate(90deg);
  transition: opacity 0.5s;
}

.active {
  opacity: 0;
}

.innerWrapper {
  position: relative;
  width: 100px;
  font-family: $ft-andale;
  color: inherit;
  font-size: 18px;
  span {
    display: inline-block;
    margin-right: 15px;
    user-select: none;
  }
}
