@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  padding: 40px;
  font-size: 14px;
  font-family: $ft-andale;
  text-transform: lowercase;
  display: none;
  position: relative;
  width: 100%;
  height: 100%;

  @include mediaMin768 {
    display: block;
  }
}

.wrapperTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  // background-color: yellow;
  z-index: 99999;
}
.wrapperBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99999;
}
.topLeft {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 9999;
}
.topRight {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 9999;
}
.bottomLeft {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 9999;
}
