@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  position: relative;
  background: blue;
  width: 100%;
  height: 100%;
}

.canvas {
  background: red;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
