@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  color: rgba(0, 0, 0, 1);
  transition: color 0.3s;
  overflow: hidden;
  transform-origin: 50%;
}

.active {
  // color: rgba(255, 255, 255, 1);
}
.canvas {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.guiWrapper {
  z-index: 10000;
  position: absolute;
}

.titleWrapper {
  z-index: 0;
  position: absolute;
  top: 40vh;
  left: 20vw;
  pointer-events: none;
}

.titleWrapperFront {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 40vh;
  left: 20px;
  transition: opacity 1s;
  @include mediaMin768 {
    left: 20vw;
  }
  // mix-blend-mode: overlay;
}

.withOverlay {
  mix-blend-mode: overlay;
}

.shadowTitle {
  opacity: 0;
}

.arrowLeft {
  top: 75vh;
  left: 20vw;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  // background-color: red;
  svg {
    g {
      transition: fill 0.3s;
    }
  }
}
.scrollText {
  text-transform: uppercase;
  font-family: $ft-andale;
  font-size: 18px;
  display: block;
  position: absolute;
  top: 30vh;
  right: 15vw;
  z-index: 10;
  width: 200px;
  transform: rotate(90deg);
  user-select: none;
  color: inherit;
  opacity: 0;
  transition: opacity 1s;

  @include mediaMin768 {
    opacity: 1;
  }
}
