@import '../../asset/style/util.scss';

.mouseCursor {
  pointer-events: none;

  top: 0;
  left: 0;
  // background-color: black;
  // mix-blend-mode: difference;
  // width: 50px;
  // height: 50px;
  // border-radius: 50%;
  z-index: 1000;

  span {
    font-family: $ft-andale;
    font-size: 3px;
    color: black;
    width: 10px;
    height: 10px;
    word-wrap: break;
    // background-color: red;
    position: fixed;
    display: block;
    line-height: 5px;
    text-align: center;
    text-transform: uppercase;
    top: 52%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
    z-index: 100001;
  }
}

.cursorBall {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
  // transform: scale;
  circle {
    fill: white;
  }
}

.ballSmall {
  // mix-blend-mode: difference;
  opacity: 1;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  // transition: scale opacity ease-in-out 1s;

  circle {
    fill: red;
    // stroke: red;
  }
}
