@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.title {
  font-size: 15vw;
  font-family: $ft-lust;
  color: rgba(0, 0, 0, 1);
  line-height: 200px;
  display: block;
  width: 100vw;
  transition: color 0.6s;
  position: relative;
  text-transform: capitalize;
  user-select: none;
  div {
    display: inline-block;
  }
  @include mediaMin768 {
    font-size: 15vw;
  }
  @include mediaMin1240 {
    font-size: 170px;
  }
  @include mediaMin1400 {
    font-size: 170px;
  }

  @include mediaMin1600 {
    font-size: 200px;
  }
}

.titleShadow {
  font-size: 20vw;
  font-family: $ft-lust;
  color: rgba(0, 0, 0, 1);
  line-height: 240px;
  display: block;
  width: 100vw;
  transition: color 0.6s;
  position: absolute;
  div {
    display: inline-block;
  }

  @include mediaMin1240 {
    font-size: 220px;
  }
}

.isTransparent {
  color: rgba(255, 255, 255, 1);
  // -webkit-text-stroke-width: 2px;
  // -webkit-text-stroke-color: rgba(255, 255, 255, 1);
  // -webkit-text-stroke-color:#FFD0AF;
}
