@import '../../asset/style/util.scss';
.wrapper {
  display: block;
  position: absolute;
  width: 270px;
  height: 30px;
  top: 20vh;
  left: 20vw;
  z-index: 10;
  transition: opacity 0.5s;
}

.active {
  opacity: 0;
}
.innerWrapper {
  position: relative;
}

.line {
  width: 100px;
  height: 1px;
  background: black;
  top: 15px;
  position: absolute;
}

.text {
  font-size: 30px;
  position: absolute;
  left: 121px;
  font-family: $ft-lust;
  width: 270px;
  text-transform: lowercase;
  color: inherit;
  div {
    overflow: hidden;
  }
}
