@import '../../asset/style/util.scss';
.wrapper {
  width: 100vw;
  height: 100vh;
  display: block;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  // position: relative;

  // z-index: 99999;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.left {
  width: 50%;
  align-self: center;
  position: relative;

  h5 {
    font-size: 25px;
    font-family: $ft-helvetica;
    font-weight: bold;
    margin-bottom: 40px;
  }
  ul {
    li {
      font-size: 16px;
      font-family: $ft-andale;
      text-decoration: underline;
      margin-bottom: 10px;
    }
  }
}
.leftContent {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.right {
  width: 50%;
  align-self: center;
  position: relative;
  span {
    font-family: $ft-lust;
    font-size: 95px;
    line-height: 75px;
    display: block;
    max-width: 300px;
  }
}

.rightWrapper {
  cursor: pointer;
  margin-left: auto;
  position: relative;
  margin-right: auto;
  max-width: 460px;
  svg {
    position: absolute;
    right: 0px;
    top: 20px;
  }
}
