@import '../../asset/style/util.scss';
.wrapper {
  // background: red;
  opacity: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include mediaMin375 {
    flex-direction: row;
  }
}

.wrapperLeft {
  // background: blue;
  @include mediaMin375 {
    width: 40%;
    align-self: center;
  }
  @include mediaMin1400 {
    width: 50%;
  }
}

.wrapperRight {
  font-family: $ft-helvetica;
  padding-left: 40px;
  // background: yellow;
  @include mediaMin375 {
    align-self: center;
    width: 50%;
  }
}

.number {
  font-size: 60vw;
  pointer-events: none;
  @import '../../asset/style/util.scss';
  color: rgba(0, 0, 0, 1);
  font-family: $ft-lust;
  margin-left: -100px;
  margin-top: 50px;

  @include mediaMin375 {
    font-size: 40vw;
    // font-size: 400px;
    margin-left: -20vw;
  }
  @include mediaMin1400 {
    font-size: 600px;
    // font-size: 40vw;
    margin-left: -250px;
  }

  // @include mediaMin1600 {
  //   font-size: 700px;
  //   margin-left: -250px;
  // }
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  // background: yellow;
  @include mediaMin768 {
    font-size: 70px;
  }
}

.subTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
  @include mediaMin768 {
    font-size: 25px;
  }
}

.bottomWrapper {
  display: flex;
  font-family: $ft-andale;
  max-width: 500px;
}
.keywords {
  width: 50%;
  font-size: 13px;
  li {
    margin-bottom: 10px;
  }
}
