$column-gutter: 8px;
$column-gutter-1024: 16px;

@mixin column($columnsWanted, $total: 12) {
  $columnsTotal: $total;
  $percentage: (($columnsWanted / $columnsTotal) * 100) * 1%;
  $offset: (strip-unit($column-gutter) / $columnsTotal) *
    ($columnsTotal - $columnsWanted) + px;
  @if $columnsWanted != $columnsTotal {
    max-width: calc(#{$percentage} - #{$offset});
  }

  @media screen and (min-width: 1024px) {
    $offset: (strip-unit($column-gutter-1024) / $columnsTotal) *
      ($columnsTotal - $columnsWanted) + px;
    max-width: calc(#{$percentage} - #{$offset});
  }
}

@mixin column-max-width() {
  margin: 0 auto;
  max-width: 90%;

  @media screen and (min-width: 1024px) {
    max-width: 1600px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1600px;
    padding-left: 160px;
    padding-right: 160px;
  }
}
