$easeCustom01: cubic-bezier(0.55, 0, 0.16, 1);

$power0EaseNone: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$power1EaseIn: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$power1EaseOut: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$power1EaseInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$power2EaseIn: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$power2EaseOut: cubic-bezier(0.215, 0.61, 0.355, 1);
$power2EaseInOut: cubic-bezier(0.645, 0.045, 0.355, 1);
$power3EaseIn: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$power3EaseOut: cubic-bezier(0.165, 0.84, 0.44, 1);
$power3EaseInOut: cubic-bezier(0.77, 0, 0.175, 1);
$power4EaseIn: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$power4EaseOut: cubic-bezier(0.23, 1, 0.32, 1);
$power4EaseInOut: cubic-bezier(0.86, 0, 0.07, 1);

$circEaseIn: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$circEaseOut: cubic-bezier(0.075, 0.82, 0.165, 1);
$circEaseInOut: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$expoEaseIn: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$expoEaseOut: cubic-bezier(0.19, 1, 0.22, 1);
$expoEaseInOut: cubic-bezier(1, 0, 0, 1);

$sineEaseIn: cubic-bezier(0.47, 0, 0.745, 0.715);
$sineEaseOut: cubic-bezier(0.39, 0.575, 0.565, 1);
$sineEaseInOut: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$easeLinear: linear;
$ease: ease;
$easeIn: ease-in;
$easeOut: ease-out;
$easeInOut: ease-in-out;
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeIn-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOut-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
